html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(#141e30, #243b55); */
    background: aquamarine;
}

.form-conteiner {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 400px;
    height: 75%; 
    padding: 40px;
    transform: translate(-50%, -50%);
    background: magenta;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    display: flexbox;
    overflow: auto;
}

.divDatos{
    position: absolute;
    top: 50%;
    left: 75%;
    width: 400px;
    height: 75%; 
    padding: 40px;
    transform: translate(-50%, -50%);
    background: magenta;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    display: flexbox;
    text-align: center;
    overflow: auto;
}

h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.input-btn {
    /* background-color: transparent; */
    background-color: cyan;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}
